.card-head{
  color: black;
  padding: 15px;
font-size: 2.5vh;
font-weight: 900;
}

.card-body1{
  text-align: center;
  margin: auto;
  height: 240px;
  background-color: white;
  color: #494747;
  border-radius: 10px;
}
#card1{
  margin-top: 50px;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.numcopies,.numpages{
  margin: auto;
  text-align: center;
  
}
 input{
   text-align: center;   
}
.numpages, .noofpagesbox {
display: inline-block;
vertical-align: middle;
}
.noofpagesbox{
width: 100px;
border-style: solid;
border-color: black;
border-radius: 10px;
margin-left: 15px;
}
.nocopiesbox{
border-color:black;
border-radius: 10px;
margin-left: 15px;
width: 100px;
}
/*
.file-upload {
  position: relative;
  display: inline-block;
}

.file-upload-input{
  opacity: 0%;
width: 100%;
}

.file-upload-label{
margin-bottom: 20px;
margin-top: 20px;
width: 40%;

padding-bottom: 10px;
line-height: 1;
border-radius: 10px;
background-color:black;
color:white;
border: 0;
overflow: hidden;
transition: 2s;
}

.file-upload input[type='file']{
  cursor:pointer;
  position: relative;
  left: 0%;
  top: 0%;  
 opacity: 0%;

}

*/


/*
 input[type='file']{
  display: none;
}
label{
  display: inline-block;
  text-transform: uppercase;
  color: black;
  background-color: red;
  text-align: center;
  padding: 15px 40px;
  font-size: 18px;
  letter-spacing: 1.5px;
  cursor: pointer;
  box-shadow: 5px 15px 25px rbga(0, 0, 0, 0.35);
  border-radius: 3px;
}

<button type='button'  className={styles["file-upload-label"]}  onClick={handleUploadClick} >
      <input type="file" id='upload-file' className={styles["file-upload-input"]} onChangeCapture={pdffunc} onChange={Handlefile}  disabled={isLoggedIn === false}  />
      <b> Upload File</b>
      </button>
*/
.main{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.inputlabel {
  display: none;
}
.imglabel{
  color: white;
}
.uploadimage{
padding: 10px;
margin-bottom: 20px;
  background-color: black;
  text-align: center;
  border-radius: 5px;
}
.docnamedisp{
  display: none;
}

@media  (max-width:768px) {
.card-body1{
text-align: center;
margin: auto;
}
.numcopies,.numpages{
margin: auto;
text-align: center;

}

input{
 text-align: center;   
}
.numpages, .noofpagesbox {
display: inline-block;
vertical-align: middle;
}

}
#icon{

height: 2em;
}